server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_NAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      client-type: lettuce
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token:
    expire-time: 900000
  refresh-token:

    expire-time: 2592000

cloud:
  aws:
    credentials:
      access-key: ${S3_KEY}
      secret-key: ${S3_SECRET_KEY}
    s3:
      bucket: ${S3_bucket}
    region:
      static: eu-north-1
    stack:
      auto: false


