name: CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3 #소스 코드 체크아웃

      - name: Set up JDK 24
        uses: actions/setup-java@v3
        with:
          java-version: '24'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew #실행 권한 부여
        run: chmod +x gradlew

      - name: build with gradle #jar 생성
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build

      - name: Login to DockerHub #docker hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}

      # docker 이미지 빌드, 푸쉬
      - name: Build and Push Image
        run: |
          docker build -t ${{secrets.DOCKERHUB_USERNAME}}/pudding:latest .
          docker push ${{secrets.DOCKERHUB_USERNAME}}/pudding:latest

      # ec2 ssh 접속  후 pull
      - name: SSH to EC2 deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            sudo docker stop pudding || true 
            sudo docker rm pudding || true 
            sudo docker pull ${{secrets.DOCKERHUB_USERNAME}}/pudding:latest
            sudo docker run -d -p 8080:8080 --name pudding ${{secrets.DOCKERHUB_USERNAME}}/pudding:latest
