name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest # 최신 Ubuntu 리눅스 환경

    steps:
      - uses: actions/checkout@v3 #최신 코드 체크아웃
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: build and test with gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build
